<div class="form-inline clearfix">
  <div class="nested-fields">
    <%= f.text_area :direction, placeholder: 'Direction', class: "form-control" %>
    <%= link_to_remove_association "Remove", f, class: "btn btn-default form-button" %>
  </div>
</div>
