<div class="form-inline clearfix">
  <div class="nested-fields">
    <%= f.text_area :direction, placeholder: t('recipes.new.directions.placeholder'), class: "form-control", style: "width:75%" %>
    <%= link_to_remove_association t('recipes.buttons.remove'), f, class: "form-button btn btn-danger", style: "margin:1em" %><hr>
  </div>
</div>
