
<div class="form-inline clearfix">
  <div class="nested-fields">
    <%= f.number_field :quantity, step: 0.25, placeholder: t('recipes.new.ingredients.quantity'), class: "form-control" %>
    <%= f.text_field :measure, placeholder: t('recipes.new.ingredients.measure'), class: "form-control" %>
    <%= f.text_field :item, placeholder: t('recipes.new.ingredients.ingredient'), class: "form-control" %>
    <%= link_to_remove_association t('recipes.buttons.remove'), f, class: "form-button btn btn-danger", style: "margin:1em" %><hr>
    </div>
  </div>
