<% provide(:title, t('menu.new_recipe')) %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="min-height:100%">
          <div class="header"><h2><%= t('menu.new_recipe') %></h2></div>
            <div class="content">
              <%= render partial: 'form', locals: { recipe: @recipe } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

