<% provide(:title, t('menu.title')) %>

<div class="row">
    <% @cuisines.each_with_index do |cuisine, index| %>
        <div class="col-md-4">
          <div class="cuisine-item" data-id="<%= cuisine.id %>">
            <%= link_to cuisine do %>
              <%= image_tag cuisine.image_url, class: "cuisine-image" %>
            <% end %>
              <%= link_to t('activerecord.model.cuisine.cuisine')[index], cuisine %>
          </div>
        </div>
    <% end %>
  </div>
</div>
