<% provide(:title, t('menu.title')) %>

<div class="row">
    <% @cuisines.each_with_index do |cuisine, index| %>
        <div class="col-md-4">
          <div class="cuisine-item">
            <%= link_to cuisine do %>
              <%= cuisine.image_url ? image_tag(cuisine.image_url, class: "cuisine-image") : nil %>
            <% end %>
              <div class="cuisine-text">
                <%= link_to t('activerecord.model.cuisine.cuisine')[index], cuisine %>
              </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
