<% provide(:title, t('cuisines.index.title')) %>
<h1>
  <%= t('cuisines.index.title') %>
</h1>

<div class="row">
    <% @cuisines.each do |cuisine| %>
        <div class="col-md-4">
          <div class="cuisine">
            <h2>
              <%= link_to t('activerecord.attributes.cuisine.name'), cuisine %>
            </h2>
          </div>
        </div>
    <% end %>
  </div>
</div>
