<% provide(:title) %>
<h1>
  <%= t('cuisines.index.title') %>
</h1>

<div class="row">
    <% @cuisines.each_with_index do |cuisine, index| %>
        <div class="col-md-4">
          <div class="cuisine">
            <div class="image-wrapper">
              <h2>
                <%= link_to cuisine do %>
                  <%= image_tag cuisine.image_url %>
                <% end %>
                  <%= link_to t('cuisines.cuisine')[index], cuisine %>
              </h2>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
