<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
          <%= footer_helper 'list-inline' %>
        </nav>
        <p class="copyright pull-right">
            &copy; 2017 <a href="http://www.github.com/SlovaDev/my_cookbook">Grant Garland</a>
        </p>
    </div>
</footer>
