<% provide(:title, t('detail.info')) %>
<h1><%= t('detail.info') %></h1>
<p>
    <a href="http://www.github.com/SlovaDev/my_cookbook">
      <%= t('detail.code') %>
    </a>
</p>
<p>
    <a href="http://www.linkedin.com/in/grant-garland">
      <%= t('detail.about') %>
    </a>
</p>
