@import "bootstrap";

$purple: #9a1daf;
$light_purple: #da38f7;
$light-gray: #777;
$gray-medium-light: #eaeaea;

.cuisine {
	background: white;
	border-radius: 5px;
	margin-bottom: 10px;
	// @include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
		&:hover {
			transform: scale(1.025);
		}
	}
	h2 {
		padding: 15px 5%;
		margin: 0;
		font-size: 20px;
		font-weight: normal;
		line-height: 1.5;
		a {
			color: $purple;
		}
	}
}
