<div class="container" style="height:100%;">
  <div class="authentication">
    <div class="card">
      <div class="card-block">
      <h1><%= t('welcome.main')%><%= email %></h1>

      <p><%= t('devise.mailer.instructions') %></p>

      <p><%= link_to t('devise.mailer.confirmation_instructions.button'), confirmation_url(@resource, confirmation_token: @token) %></p>
      </div>
    </div>
  </div>
</div>
