<footer class="affix-top fixedsticky-bottom">
  <div class="container">
    <ul class="list-inline">
      <li>
        <%= link_to t('footer.about'), about_path %>
      </li>
      <li>
        <%= link_to t('footer.languages.en'), change_locale_path(:en) %>
      </li>
      <li>
        <%= link_to t('footer.languages.ru'), change_locale_path(:ru) %>
      </li>
    </ul>
  </div>
</footer>