<!DOCTYPE html>
<html>

  <%= render 'layouts/head'%>

  <body id="page-top">

    <%= render 'layouts/navigation' %>

      <header>
        <div class="container">
          <%= yield %>
        </div>
      <header>

    <%= render 'layouts/footer' %>

  </body>
</html>
