<!DOCTYPE html>
<html>
  <%= render 'layouts/head'%>
  <body>
  <!-- <div class="site-wrapper"> -->
      <!-- <div class="site-wrapper-inner"> -->
        <div class="cover-container">

          <%= render 'layouts/navigation' %>

          <%= yield %>

        </div>
      <!-- </div> -->
    <!-- </div> -->

    <%= render 'layouts/footer' %>

  </body>
</html>
