<!doctype html>
<html>

  <%= render 'shared/master_head' %>

  <body>
    <div class="wrapper">

  		<div class="aux-main-panel">

          <%= render 'shared/aux_navigation' %>

  			<div class="content" style="height:100vh;">
          <div class="container-fluid">
            <div class="row">

              <%= yield %>

            </div>
          </div>
        </div>

    		<%= render 'shared/master_footer' %>

  		</div>
    </div>
  </body>
</html>
