<!DOCTYPE html>
<html lang="en">

<%= render 'head' %>

  <body id="page-top">
    <div class="container">
      <%= render 'layouts/flash' %>

        <%= yield %>

    </div>
    <%= render 'footer' %>
  </body>

</html>